NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1

NEXT_PUBLIC_MAP_PROVIDER=leaflet
NEXT_PUBLIC_2GIS_MAP_KEY=
NEXT_PUBLIC_2GIS_MAP_DEFAULT_LAT=43.238949
NEXT_PUBLIC_2GIS_MAP_DEFAULT_LNG=76.889709
NEXT_PUBLIC_2GIS_MAP_DEFAULT_ZOOM=12

